
<!-- Body-->
<!-- Primer gif, parallax -->
<!-- <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <font face="TIMES NEW ROMAN" SIZE=7 style="color: #D4D0CF" class="header col s12 light"><i>Fundación Abuela
              Ecológica.</i></font>
        </div>
      </div>
    </div>
  </div>

  <div id="segundoDiv" class="container">
    <div class="container">
      <div class="row center">
        <font id="tema" face="Raleway" SIZE=5 style="color: #FFFF" class="header col s12 light"><i>SOBBRE NOSOTROS.</i>
        </font>
      </div>
      <div class="row center">
        <font id="info" face="TIMES NEW ROMAN" SIZE=5 style="color: #9e9e9e grey" class="header col s12 light">
          <i>Fundación
            Abuela Ecológica
            nació de la necesidad notoria y plausible de ayudar al medio ambiente ante la crisis que viene
            profundizándose y busca de manera
            inagotable el dejar alimento para la fauna, desde hace más de cuatro años la “Abuela” Bertalía González
            Villalobos de 83 años anda
            reforestando Zona Norte, está bella señora acompaño en un proyecto que visitó en Muelle de San Carlos,
            .........
          </i></font>
      </div>
      <div class="row center">
        <font id="pregunta" face="Raleway" SIZE=6 style="color: #FFFF" class="header col s12 light"><i>¿Porqué donar a
            nuestra causa?</i></font>
      </div>
      <div class="row">
        <div id="iDdonar" class="col s6">
          <font id="donar" face="Raleway" SIZE=6 style="color: #FFFF"><i>dasjjdajsajd</i></font>
        </div>
        <div id="iDvideo" class="col s6">
          <font id="video" face="Raleway" SIZE=6 style="color: #FFFF" class="header col s6 light"><i>dajdjdasldjlllasd</i>
          </font>
        </div>
      </div>
    </div>
  </div> -->

  <!-- ...................................................... -->
  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our
            full time job. Any amount would help support and continue development on this project and is greatly
            appreciated.</p>
  
  
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  

<!-- ...................................................... -->