<nav id="navPrincipal" class="white" role="navigation">
  <div class="nav-wrapper container">
    <img width="200" alt="Fundacion" src="../assets/Img/Icono.png">
    <ul class="right hide-on-med-and-down">
      <li><a href="#">INICIO</a></li>
      <li><a href="#">VIDEOS</a></li>
      <li><a href="#">INFORMACIÓN</a></li>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>

<!-- Body-->
<!-- Primer gif, parallax -->
<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <font face="TIMES NEW ROMAN" SIZE=7 style="color: #D4D0CF" class="header col s12 light"><i>Fundación Abuela
            Ecológica.</i></font>
      </div>
    </div>
  </div>
</div>
<!-- ...................................................... -->
<!-- Segunda imagen, parallax -->
<div id="segundoDiv" class="container">
  <div class="container">
    <div class="row center">
      <font face="Raleway" SIZE=5 style="color: #FFFF" class="header col s12 light"><i>SOBBRE NOSOTROS.</i></font>
    </div>
  </div>
</div>
<!-- ...................................................... -->
<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Company Bio</h5>
        <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our
          full time job. Any amount would help support and continue development on this project and is greatly
          appreciated.</p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Settings</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    </div>
  </div>
</footer>


<!-- ...................................................... -->