  
 body  { 
   background-image: url("../Img/background-blanco-degradado-12.jpg");  
   background-repeat: no-repeat;
   width: 100%;
   /* background-size: 100% 90vh; */
   background-attachment: fixed;
}
nav img{
  height: 100% !important;
} 
#imgLogo{
  display:block;
  margin:auto;
  margin-top: 55px;
}
#imgabuela, #imgaFerr, #imgalau{
  width: 100px;
  text-align: center;
}
#imgabuela p,#imgaFerr p,#imgalau p {
  margin-top: 0;
  font-size: 20px;
}
#imgabuela img,#imgaFerr img, #imgalau img{
  height: 100px;
  width: 100px;
  border-radius: 100%;
  overflow: hidden;
}
#imgCard{
  width: 350px; 
  height: 350px;
}